@import "./logic.scss";


$titleColor: black;
$categoryBackground: #4c4084;
$categoryColor: white;
$paddingForTextPart: 37%;

.view-id-article_view {
  //TODO
  //.view-header {
  //  width: 100vw;
  //  z-index: -3;
  //  position: relative;
  //  left: 50%;
  //  right: 50%;
  //  margin-left: -50vw;
  //  margin-right: -50vw;
  //}
  .view-content {
    .views-row {
      article {
        h2 {
          a {
            text-decoration: none;
            color: $titleColor;
            font-size: toRem(16);
            @media (min-width: 768px) and (max-width: 1018px) {
              font-size: toRem(18);
            }
            @media (min-width: 1019px) and (max-width: 1140px) {
              font-size: toRem(19);
            }
            @media(min-width: 1141px) {
              font-size: 21px;
            }

            &:hover {
              color: $categoryBackground;
            }
          }
        }

        .node__content {
          .layout-builder__layout {
            .block-field-blocknodearticle-with-newsfield-category- {
              .field--name-field-category- {
                .field__item {
                  a {
                    font-size: toRem(10);
                    padding: toRem(3) toRem(4) toRem(2);
                    text-decoration: none;
                    background-color: $categoryBackground;
                    color: $categoryColor;
                  }
                }
              }
            }

            .block-field-blocknodearticle-with-newsfield-media- {
              .field--name-field-media- {
                width: 35%;

                img {
                  width: 100%;
                  float: left;
                }
              }
            }

            .block-field-blocknodearticle-with-newsfield-short-description {
              padding-left: $paddingForTextPart;
              font-size: toRem(15);
              @media (max-width: 1021px) {
                display: none;
              }
            }

            .block-field-blocknodearticle-with-newsfield-author, .block-field-blocknodearticle-with-newsfield-dateofpublish {
              display: flex;
            }

            .block-field-blocknodearticle-with-newsfield-author {
              float: left;
              padding-left: $paddingForTextPart;
            }

            .block-field-blocknodearticle-with-newsfield-dateofpublish{
              padding-left: toRem(5);
            }
          }
        }
      }
    }
  }
}

